
  .js{
  font-weight:bold;
  color : coral
  }
  #first{
  color : blue;
  }
  span{
  color : red;
  } /* 여기까지 색깔 연습 */
    
 a {
    color : black ;
    text-decoration : none ;
  }
  .saw{
    color : gray;
  }
  #active{
    color : red;
  }  /* 여기까지 선택자 연습 */
    
  body{
    margin : 0;
  }
  h1 {
  font-size:45px ;
  text-align : center ; 
  border-bottom : 1px solid gray ;
  padding : 20px ; 
  margin : 0;
  }  /* 여기까지 박스 모델 연습 */
    
  #grid  {
    display : grid ;
    grid-template-columns : 160px 1fr ;
  }
  #grid ol{
    border-right : 1px solid gray;
    width : 105px ;
    margin : 0;
    padding : 20px ;
    padding-left : 35px ;
  }
  #article {
    padding-left : 25px ;
  } /* 여기까지 그리드 연습 */
    
  @media(max-width : 400px) {
    h1{
      font-size : 30px;
      text-align : center;
      border : none ;
    }
    #grid {
      display : block;
    }
    #grid ol{
    border-right : none;
    width : initial ;
    }
  }    
    /* 여기까지 미디어쿼리 연습(예정) */
